on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  # duplicated in build_test for this GHA
name: all tests
jobs:
  node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 18, 20]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: node --version
      - run: npm install
      - run: npm test
